
<%= image_tag current_user.image.url(:medium) %><br>
<%= link_to 'All Buckets: ', items_path %> <%= link_to current_user.items.all.count, items_path%><br>
Completed Buckets: <%= Item.where(user_id: current_user.id).where(completed: true).count %>
<% a = Item.where(user_id: current_user.id).where(completed: true).count %>
<% b = current_user.items.all.count %>
<% @a = (a.to_f / b.to_f) * 100 %>
<p>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= a %>"
  aria-valuemin="0" aria-valuemax='<%current_user.items.all.count%>' style='width: <%= @a %>%'>
    <%= @a.round(2)%>%
  </div>
</div>
</p>

<div class='custom_text'><%= link_to '', new_item_path, class: 'glyphicon glyphicon-plus btn btn-success btn-lg' %> <%= link_to 'Add Bucket', new_item_path %> </div>
