<h1 class="page-header"><%= @user.username %> </h1>

<% if current_user.username == params[:username]%>
<% else %>
  <%= form_tag(friendships_path, class:'form') do %>
      <div class="form-group">
        <%= hidden_field_tag "friendship[user_id]", current_user.id  %>
        <% @user = User.find_by(username: params[:username]) %>
        <%= hidden_field_tag "friendship[friend_id]", @user.id  %>
        <%= submit_tag('Add User as Friend', class: 'btn btn-success btn-lg') %>
      </div>
    <% end %>
<% end %>
