  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @item, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :importance, :collection => 1..10, :hint => "1 - not important, 5 - some what important, 10 - very important" %>
  <%= f.input :image %>
  <%= f.button :submit %>
<% end %>

