<p id="notice"><%= notice %></p> 

<h1>Listing Items</h1>

<table class="table -striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Completed</th>
      <th>Importance</th>
      <th>Completed date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.image(:thumb) %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.location %></td>
        <td><%= item.completed %></td>
        <td><%= item.importance %></td>
        <td><%= item.completed_date %></td>
        <td><%= item.user_id %></td>
        <td><%= link_to 'Show', item %></td>
        <% if item.user == current_user %>
          <td><%= link_to 'Edit', edit_item_path(item.id) %></td>
          <td><%= link_to 'Destroy', item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn">New Item</button>'.html_safe, new_item_path %>
