<div class="around-the-world">
  <p id="notice"><%= notice %></p>


  <%= image_tag @item.image(:medium) %>
  <p>
    <strong>Title:</strong>
    <%= @item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @item.location %>
  </p>

  <p>
    <strong>Completed:</strong>
    <% if(@item.completed == true) %>
      YES!
    <% else %>
      Nope.
    <% end %>
  </p>

  <p>
    <strong>Importance:</strong>
    <%= @item.importance %>
  </p>

  <p>
    <strong>Completed date:</strong>
    <% if(@item.completed_date != nil) %>
      <%= @item.completed_date.strftime("%B %d, %Y") %>
    <% else %>
      None.
    <% end %>
  </p>

  <hr>

  <div id="comments">
    <h4><%= @item.comments.count %> comments</h4>
    <hr>
    <% if @item.comments.count > 0 %>
      <% @item.comments.each do |comment| %>
        <%= render(partial: 'comments/comment', locals: {comment: comment}) %>
      <% end %>
    <% end %>
    <h4>Add a Comment:</h4>
    <%= render "comments/form" %>
    <hr>
  </div>

  <%if @item.completed_date != nil %>
    <% tweeter = 'I completed my bucketlist item "' + @item.title + '" on ' + @item.completed_date.strftime("%B %d, %Y") %>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="BeforeTheDaisies.com" data-text='<%= tweeter %>' data-hashtags="BeforeTheDaisies">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <% else %>
    <% tweeter = 'I added a bucketlist item "' + @item.title + '" on ' + @item.created_at.strftime("%B %d, %Y") %>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="BeforeTheDaisies.com" data-text='<%= tweeter %>' data-hashtags="BeforeTheDaisies">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <% end %>

  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', index_path %>
</div>
